<div self="size-x1" layout="row center-left" class="first-row mdl-color--green-800 mdl-color-text--white">
    <div class="title" layout="row center-left" self="size-x1">
        <a data-ui-field="menu-button" class="menu-toggle mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
            <i class="material-icons">menu</i>
        </a>
        <div class="logo truncate"><a title="A zUIx website" target="_self" href="http://www.zuix.it">{app.title}</a></div>
    </div>
    <div self="sm-hide" class="sharing">
        <div data-ui-load="https://genielabs.github.io/zuix/site/components/sharing"
             data-ui-priority="-1"
             layout="row center-center">
            <a data-ui-field="url" href="http://glabs.it">G-Labs Home</a>
            <p data-ui-field="description">G-Labs, the open source factory.</p>
        </div>
    </div>
</div>
<div layout="row center-center" class="second-row mdl-color--green-900 mdl-color-text--white">
    <div data-ui-field="header-title" class="subtitle truncate">Welcome</div>
</div>
