. {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    justify-content: center;
    background: rgba(0,0,0,0.85);
}

.nav-prev {
    position: absolute;
    right: 96px;
    bottom: 32px;
    z-index: 10;
}
.nav-next {
    position: absolute;
    right: 32px;
    bottom: 32px;
    z-index: 10;
}
.nav-close {
    position: absolute;
    left: 32px;
    bottom: 32px;
    z-index: 10;
}
.progress-container {
    position: absolute;
    top: 32px;
    z-index: 10;
    background-color: rgba(255,255,255,0.85);
    padding: 16px;
    border-radius: 12px;
}
.progress-container .mdl-progress {
    width: 250px;
}

i {
    cursor: pointer;
}

.media-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.media-list img {
    position: absolute;
    max-width:98%;
    max-height:98%;
    border: solid 2px rgba(255,255,255,0.5);
}
