<div data-ui-field="container" class="container">

    <div data-ui-field="media" class="media-list"></div>

    <div data-ui-field="nav-prev" class="nav-prev mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--mini-fab mdl-button--primary mdl-color--green-700 mdl-shadow--8dp">
        <i class="material-icons mdl-color-text--white">arrow_back</i>
    </div>
    <div data-ui-field="nav-next" class="nav-next mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--mini-fab mdl-button--primary mdl-color--green-700 mdl-shadow--8dp">
        <i class="material-icons mdl-color-text--white">arrow_forward</i>
    </div>
    <div data-ui-field="nav-close" class="nav-close mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--mini-fab mdl-button--accent mdl-color--red-700 mdl-shadow--8dp">
        <i class="material-icons">close</i>
    </div>

    <div data-ui-field="progress-container" class="progress-container">
        <div class="animated bounce infinite mdl-typography--text-uppercase mdl-color-text--accent mdl-typography--text-center"><small>Loading...</small></div>
        <div data-ui-field="load-progress" class="mdl-progress mdl-js-progress"></div>
    </div>

</div>
