. {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
}

.first-row {
    height: 64px;
    width: 100%;
}
.second-row {
    font-size: 80%;
    height: 32px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    display: none;
}

.title .menu-toggle {
    width: 56px;
    text-align: center;
    margin-right: 8px;
    cursor: pointer;
}
.sharing {
    margin-right: 16px;
    font-size:120%;
}

.logo {
    font-weight: 400;
    font-size: 200%;
    line-height: 200%;
    padding-left: 16px;
    padding-right: 16px;
}
.logo-caption {
    font-size: 80%;
}

.subtitle {
    font-size: 120%;
    line-height: 200%;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 700;
}

div[data-ui-field="header-roller"] {
    position: absolute;
    left:0;right:0;bottom:0;
    height: 32px;
    text-align: center;
}

@media only screen and (max-width: 640px) {
    .logo {
        font-size: 160%;
    }
    .subtitle {
        font-size: 110%;
    }
}
@media only screen and (max-width: 800px) {
    .second-row {
        display: block;
    }
}