. {
    top:0; left:0; min-height: 100vh;
    overflow: visible;
}

h2 {
    background: whitesmoke;
    margin:  0;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

.side-menu {
    overflow-y: auto;
    padding: 24px 8px 48px 0;
    font-family: 'Roboto Condensed', serif !important;
    font-size: 110%;
    z-index: 10;
}

.side-menu .material-icons {
    font-size: 150%;
    margin-right: 16px;
}

.side-menu a {
    padding: 12px 8px 12px 24px;
    color: rgba(255, 255, 255, 0.8);
}
.side-menu a.sub_item {
    padding: 0 8px 0 24px;
    color: rgba(255, 255, 255, 0.8);
}
/*
.side-menu a:hover {
    background-color: rgba(132, 184, 209, 0.5);
    color: #101035;
}
*/
.side-menu a.sub_item span {
    margin-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 26px;
    font-size: 90%;
    border-left: dotted 3px rgba(150,150,150,0.5);
}
.current .side-menu a.sub_item span {
    border-left: solid 3px rgb(200, 200, 0);
}

a.current span {
    font-weight: bold;
}
a.sub_item.current span {
    font-weight: bold;
    border-left: solid 3px rgb(200, 200, 0);
}
.current i {
    color: rgb(200, 200, 0) !important;
    font-weight: bolder;
}
