.mdl-grid {
    max-width: 360px;
    margin-top: 20px;
}
.mdl-card__media > img {
    max-width: 100%;
}
.mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
}
.mdl-card__actions > .mdl-button--icon {
    margin-right: 3px;
    margin-left: 3px;
}
.mdl-card__supporting-text {
    width: 100%;
}
p, ul {
    font-family: "Helvetica", "Arial", sans-serif;
}
p {
    margin: 0 0 16px;
}