<div class="mdl-grid">
    <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-shadow--8dp">
        <div class="mdl-card__media">
            <img data-ui-field="image" src="https://tfirdaus.github.io/mdl/images/laptop.jpg" alt="" />
        </div>
        <div class="mdl-card__title">
            <h1 data-ui-field="title" class="mdl-card__title-text mdl-color-text--light-blue-900">Learning Web Design</h1>
        </div>
        <div data-ui-field="text" class="mdl-card__supporting-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam accusamus, consectetur.</p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a self="size-x1" data-ui-field="link_read" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--light-blue-900">Read More</a>
            <!--
            <div class="mdl-layout-spacer"></div>
            <button class="mdl-button mdl-button--icon mdl-color-text--blue-grey-300"><i class="material-icons">favorite</i></button>
            <button id="share-post-1" class="mdl-button mdl-button--icon mdl-color-text--blue-grey-300"><i class="material-icons">share</i></button>
            <ul class="mdl-menu mdl-menu--top-right mdl-js-menu" for="share-post-1">
                <li class="mdl-menu__item">Facebook</li>
                <li class="mdl-menu__item">Twitter</li>
                <li class="mdl-menu__item">Pinterest</li>
            </ul>
            -->
        </div>
    </div>
</div>
